// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";


.intro-image {
  padding: 30px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 20px;
  margin: auto;
  padding: auto;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 300px;
  padding: 15px;
  margin: 15px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding-top: 10px;
  margin: 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card-trip .recipe {
  padding-top: 10px;
  margin: 5px 5px;
}



