// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";


.title-bar {
  padding-top: 20px;
  padding-left: 40px;
  margin: auto;
}

.title-bar h2 {
  color: #4c2d0e;
  font-size: 28px;
  font-weight: 600;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 20px;
  margin: auto;
  padding: auto;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  max-width: 300px;
  padding: 15px;
  margin: 15px;
}

.card-trip:hover {
  background: #C9D92D;
  box-shadow: 0 0 0px rgba(0,0,0,0.1);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding-top: 10px;
  margin: 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card-trip .recipe {
  padding-top: 10px;
  margin: 5px 5px;
}

.button {
  font-size: 14px;
  background: #C9D92D;
  padding: 15px 15px;
  border-radius: 15px;
  margin-top: 20px;
  width: 100%;
}

.button:hover {
  background-color: #C73D75;
  color: #fff;
}
